.main {
    background-color: #021335;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #020B1F;
    height: calc(100vh - 70px);
    width: 95vw;
    border-radius: 15px;
    overflow: hidden;
}
.header {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #182040;
}

.body {
    background-image: url("../assets/noise.png");
    min-height: 78vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}